<h4 class="titulo-pagina">Datos personales.</h4>
<div class="contenedor">
  <form autocomplete="off" [formGroup]=" wizard.datosUsuario">

    <div class="campo">
      <label class="etiqueta">Nombre</label>
      <input class="input" type="text" placeholder="Nombre" formControlName="nombre" />
      <small class="atencion" *ngIf="wizard.validar('nombre')">Ups. Revisa la info!</small>
    </div>
    <div class="campo">
      <label class="etiqueta">Apellido</label>
      <div class="input">
        <input type="text" placeholder="Apellido" formControlName="apellido" />
      <small class="atencion" *ngIf="wizard.validar('apellido')">Ups. Revisa la info!</small>
      </div>
    </div>
    <div class="campo">
      <label class="etiqueta">Correo</label>
      <div class="">
        <input type="email" placeholder="Correo electrónico" formControlName="email" />
      <small class="atencion" *ngIf="wizard.validar('email')">Ups. Revisa la info!</small>
      </div>
    </div>
  </form>

</div>